.section-main > .background {
  height: 50vh;
  position: relative;
  border: 4px #2d5b9b double;
  background-image: url("../../../../assets/images/backgrounds/background_estudio_provisorio.svg");
  background-size: cover;
}

.title-main{
  font-size: 70px;
}