.section-main > .background {
  height: 50vh;
  position: relative;
  border: 10px #2d5b9b double;
  background-image: url("../../../../assets/images/estudio_background_provisorio.jpg");
  background-size: cover;
}

.title-main{
  font-size: 70px;
}