agm-map {
  height: 205px;

  ::ng-deep > div {
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  }
}

.label-content {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-4);
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
}
