.title {
  font-size: 40px;
  padding: 1rem;
  padding-top: 0;
  text-align: center;
}

.title-bkg-white {
  background-image: url(../../../assets/images/auxiliary/underlined-title-white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.title-bkg-black {
  background-image: url(../../../assets/images/auxiliary/underlined-title-black.svg);
  background-repeat: no-repeat;
  background-position: center;
}
