html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: YanoneKaffeesatz, Verdana, sans-serif !important;
  background-color: var(--bg);
  background: var(--bg);
}

a,
u,
body {
  color: var(--text-color);
  text-decoration: none !important;
}

a:hover {
  filter: brightness(90%);
}

nav {
  background: var(--bg-nav) !important;
}

.cb1 {
  background-color: var(--color-1);
}
.cb2 {
  background-color: var(--color-2);
}
.cb3 {
  background-color: var(--color-3);
}
.cb4 {
  background-color: var(--color-4);
}
.cb5 {
  background-color: var(--color-5);
}

.cc1 {
  color: var(--color-1);
}
.cc2 {
  color: var(--color-2);
}
.cc3 {
  color: var(--color-3);
}
.cc4 {
  color: var(--color-4);
}
.cc5 {
  color: var(--color-5);
}

.box {
  border-radius: 10px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.box-nav {
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
