html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden !important;
  font-family: YanoneKaffeesatz, Verdana, sans-serif !important;
  background-color: var(--bg);
  background: var(--bg);
}

a,
body {
  color: var(--text-color);
}

a:hover {
  filter: brightness(90%);
}

nav {
  background: var(--bg-nav) !important;
}

.cb1 {
  background-color: var(--color-1);
}
.cb2 {
  background-color: var(--color-1);
}
.cb3 {
  background-color: var(--color-1);
}
.cb4 {
  background-color: var(--color-1);
}
.cb5 {
  background-color: var(--color-1);
}

.cc1 {
  color: var(--color-1) !important;
}
.cc2 {
  color: var(--color-1);
}
.cc3 {
  color: var(--color-1);
}
.cc4 {
  color: var(--color-1);
}
.cc5 {
  color: var(--color-1);
}
