/*
 * YanoneKaffeesatz
 */

 @font-face {
  font-family: "YanoneKaffeesatz";
  src: url("../assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Regular.ttf");
}

@font-face {
  font-family: "YanoneKaffeesatz-Bold";
  src: url("../assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Bold.ttf");
}
