:root {
  //light
  --primary: none;
  --secondary: none;

  // --title-color: #004f99;
  --text-color: #1e2327;

  --color-1: #f1eedd;
  --color-2: #0a69eb;
  --color-3: #325a92;
  --color-4: #4f4f4f;
  --color-5: #1e2327;

  --bg: #f1eedd;
  --bg-nav: #4f4f4f;
}
