<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route"
  style="background-image: url(assets/img/overlay-bg.jpg)">
  <div class="card-contact container p-5 box">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div class="row">

            <app-contact-form class="col-md-6"></app-contact-form>
            <app-contact-infos class="col-md-6"></app-contact-infos>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>