<section class="paralax-mf footer-paralax sect-mt4 route">
  <div class="card-contact container p-5 box">

    <app-title [title]="title" [white]="false"></app-title>

    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div class="row">

            <app-contact-form class="col-md-5"></app-contact-form>

            <div class="col-md-1"></div>

            <app-contact-infos class="col-md-6"></app-contact-infos>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
