.button {
  min-width: 100px;
  background-color: transparent;
  font-size: 20px;
  background-image: url(../../../assets/images/auxiliary/button.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.button:hover {
  color: var(--color-2);
  background-color: rgba(51, 51, 247, 0.1);
  transform: scale(1.1);
}
