.section {
  min-height: 400px;
}

.section:nth-child(even) {
  background-color: var(--color-6);
  color: white;
}

#home {
  background-image: url("../../../assets/images/backgroun-effect-main.png");
  background-size: cover;

  .about-more:hover {
    transform: scale(1.5);
  }
  
  .text-about-more {
    font-size: 40px;
    margin: 0;
    margin-top: 2rem;
  }

  .chev-down {
  }
}
