<app-notification></app-notification>

<div class="section p-5" id="home">
  <app-section-main></app-section-main>
  <a href="#about" class="about-more cc1 m-5" data-aos="scroll-down">
    <p class="text-about-more text-center"> Saiba Mais </p>
    <p class="chev-down text-center"> <img src="../../../assets/images/icons/chev-down.svg" alt="" srcset=""> </p>
  </a>
</div>

<div class="section p-5" id="about">
  <app-section-about></app-section-about>
</div>

<div class="section p-5" id="services">
  <app-section-services></app-section-services>
</div>

<div class="section p-5" id="contact">
  <app-section-contact></app-section-contact>
</div>
